* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sketch-block {
    border: black solid 0.5px;
    /* flex: 1 1 auto; */
    /* height: 50%;
    width: 50%; */
}

.sketch-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* gap: 1px; */
    width: 500px;
    height: 500px;

    

}
.slidecontainer {
    width: 500px;
}

.slider {
    width: 50%;
}